---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/footer.astro";
import Nagivation from "../components/nagivation.astro";
---

<script>
  import { annotate } from "rough-notation";

  const sleep = (ms: number) => new Promise((r) => setTimeout(r, ms));

  async function applyAnnotations() {
    let elements = document.getElementsByClassName("highlight");
    Array.from(elements).forEach(async (element) => {
      let annotation;
      if (element.classList.contains("yellow")) {
        annotation = annotate(element as HTMLElement, { type: "highlight", color: "#fffcba" });
      } else if (element.classList.contains("blue")) {
        annotation = annotate(element as HTMLElement, { type: "highlight", color: "#b3c6ff" });
      } else if (element.classList.contains("red")) {
        annotation = annotate(element as HTMLElement, { type: "highlight", color: "#ffdede" });
      } else if (element.classList.contains("green")) {
        annotation = annotate(element as HTMLElement, { type: "highlight", color: "#b0ffbe" });
      } else {
        annotation = annotate(element as HTMLElement, { type: "highlight", color: "#f6d9ff" });
      }
      annotation.show();
    });

    elements = document.getElementsByClassName("underline");

    Array.from(elements).forEach(async (element) => {
      let annotation;
      annotation = annotate(element as HTMLElement, { type: "underline", color: "#f6d9ff" });
      annotation.show();
    });

    elements = document.getElementsByClassName("circle");

    Array.from(elements).forEach(async (element) => {
      let annotation;
      annotation = annotate(element as HTMLElement, { type: "circle", color: "#b3c6ff" });
      annotation.show();
    });
  }

  applyAnnotations();
</script>

<BaseLayout>
  <div class="container">
    <div></div>
    <div class="item">
      <Nagivation />

      <div>
        <div class="container-hero">
          <div>
            <h1 id="hero-text">
              Hi here, I'm Ryan,<br />Full Stack <span class="highlight">Developer</span><br />based
              in Manila.
            </h1>
            <p>
              I'm a 25-year-old passionate introvert who might have spent too much time in front of
              computers growing up.
            </p>
            <!-- <p>
              Since high school, I've built countless stuff using just a windows PC and a
              third-world internet connection. From crude <span class="circle">video games</span> made
              with Pygame and Game Maker, to <span class="underline"
                >enterprise billing software</span
              >, to very niche tiny automation scripts on the cloud that help my daily life just a
              bit easier.
            </p>
            <p>
              More recently, I've been building <span class="highlight red">fullstack apps</span> and
              websites using React, Next.js, Express, and TypeScript.
            </p>
            <p>
              My philosophy is to always <span class="highlight green">build for the customer</span
              >. For each project, I always strive to deeply understand what exactly the customer's
              needs are and to build something to meet those needs.
            </p>
            <p>Everything else is <span class="underline">secondary</span>.</p><br /> -->
            <br />
            <button class="main-button">
              <a href="/#projects" class="hero-link">View Projects</a>
            </button>
            <button>
              <a href="https://github.com/ryanarnold/" class="hero-link">View GitHub</a>
            </button>
          </div>
          <div id="hero-image">
            <img src="/assets/wfh.png" alt="profile" />
          </div>
        </div>
      </div>

      <div id="skills">
        <h3>Skills</h3>
        <p>
          Through the years I've gained a deep understanding of web development concepts necessary
          for building fullstack apps from ideation to deployment. Though I've finished a Computer
          Science degree as well as have more than 5 years of experience in a corporate setting,
          many of the technologies below I had to learn on my own during my spare time.
        </p>
        <div class="container-4" id="skills-list">
          <div>
            <ul>
              <li>React</li>
              <li>JavaScript & TypeScript</li>
              <li>HTML & CSS</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>Python</li>
              <li>Django</li>
              <li>Flask</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>Prisma</li>
              <li>Tailwind</li>
              <li>Bootstrap</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>Firebase</li>
              <li>MySQL</li>
              <li>Java</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="projects">
        <h3>Projects</h3>
        <p>
          Nothing brings me more joy than sitting down at a computer and coding for hours on end.
          And so, I like to do it as often as possible. Here are some of the things I've built.
        </p>
        <div class="project">
          <h3>Secondly Minutes</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, a, eum atque, sit
            ab corrupti quam excepturi nisi nostrum ratione eaque? Nisi accusamus iusto distinctio
            aliquam optio quibusdam blanditiis architecto.
          </p>
          <div>
            <a href="https://github.com/ryanarnold/">View Site</a>
            <a href="https://github.com/ryanarnold/">GitHub</a>
          </div>
        </div>
      </div>

      <div id="contact">
        <h3>Contact</h3>
        <p>Feel free to reach out about anything!</p>
        <p><a href="mailto:ryanarnold.zoleta@gmail.com">ryanarnold.zoleta@gmail.com</a></p>
        <div class="socials">
          <span class="social-link"><a href="https://github.com/ryanarnold/">GitHub</a></span>
          <span class="social-link"
            ><a href="https://www.linkedin.com/in/ryan-arnold-zoleta-a62756119/">LinkedIn</a>
          </span>
        </div>
      </div>

      <Footer />
    </div>
    <div></div>
  </div>

  <style>
    .container {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: auto auto;
    }

    .container-hero {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: auto auto;
      margin-bottom: 50px;
    }

    .container-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto;
    }

    #hero-image > img {
      /* width: 50%; */
      margin-top: 70px;
    }

    .socials {
      text-align: left;
    }

    .social-link {
      margin-right: 10px;
    }

    #hero-text {
      font-size: 4em;
    }

    h3 {
      font-size: 2.5em;
    }

    .hero-link {
      font-size: 1.25em;
      text-decoration: none;
    }

    button {
      width: 200px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-right: 20px;
      border: 0;
      border-radius: 5px;
    }

    button > a {
      color: black;
    }

    .main-button {
      color: white;
      background-color: black;
    }

    .main-button > a {
      color: white;
    }

    p {
      color: #6b6b6b;
      font-size: 1.25em;
      line-height: 1.8;
    }

    #skills-list {
      color: #6b6b6b;
      font-size: 1.1em;
    }

    #skills-list li {
      margin-bottom: 20px;
    }
  </style>
</BaseLayout>
