<div id="navigation">
  <div id="linksList">
    <a href="/#skills">Skills</a>
    <a href="/#projects">Projects</a>
    <a href="/#contact">Contact</a>
  </div>
</div>

<style>
  #linksList {
    text-align: right;
    font-size: 1.25em;
  }

  #navigation {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    margin-left: 1.25em;
    font-size: larger;
    color: black;
  }
</style>
